/**
 * Add your authentication creditials here and save this file as auth.js
 */

const twitter = {
  appKey: 'TWITTER_APP_KEY',
  appSecret: 'TWITTER_APP_SECRET',
  accessToken: 'TWITTER_ACCESS_TOKEN',
  accessTokenSecret: 'TWITTER_ACCESS_TOKEN_SECRTE'
};

const here = {
  apiKey: 'HERE_API_KEY'
};

/* Hack to work both in mode and in browser */
if (typeof module !== 'undefined' && module.exports) {
  module.exports = { twitter, here };
}
